{% extends "layout.html" %}

{% block content %}
    {% include "components/_pre-loader.html" %}
    {% include "components/_header.html" %}
    {% include "components/_menu.html" %}

    <div class="container mt-3">
        {% include "components/_messages.html" %}
    </div>

    {% if team|length == 1 %}
        {% include "components/_team-detail.html" %}
    {% else %}
        {% include "components/_team.html" %}
    {% endif %}

    {% if news %}
        {% include "components/_news.html" %}
    {% endif %}

    {% include "components/_footer.html" %}
{% endblock content %}
