{% extends "layout.html" %}

{% block content %}
    {% comment %} {% include "components/_pre-loader.html" %} {% endcomment %}
    {% include "components/_header.html" %}
    
    {% include "components/_menu.html" %}
    {% include "components/_home.html" %}
    {% include "components/_about.html" %}
    {% include "components/_team.html" %}
    {% include "components/_news.html" %}
    {% comment %} {% include "components/_randevu-al.html" %} {% endcomment %}
    
    {% include "components/_google-map.html" %}
    {% include "components/_footer.html" %}
{% endblock content %}