{% extends "layout.html" %}

{% block content %}
    {% include "components/_pre-loader.html" %}
    {% include "components/_header.html" %}
    {% include "components/_menu.html" %}

    <div class="container mt-3">
        {% include "components/_messages.html" %}
    </div>

    {% include "components/_news-detail.html" %}

    {% if other_news %}
        {% include "components/_news.html" with news=other_news %}
    {% endif %}

    {% include "components/_footer.html" %}
{% endblock content %}
