{% load static %}
<footer data-stellar-background-ratio="5">
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-4">
                   <div class="footer-thumb"> 
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">İletişim Bilgileri</h4>
                        <p>Fusce at libero iaculis, venenatis augue quis, pharetra lorem. Curabitur ut dolor eu elit consequat ultricies.</p>

                        <div class="contact-info">
                             <p><i class="fa fa-phone"></i> +90 777 777 77 77</p>
                             <p><i class="fa fa-envelope-o"></i> <a href="#">info@healthcenter.com</a></p>
                        </div>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4"> 
                   <div class="footer-thumb"> 
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Son Haberler</h4>
                        {% for haber in other_news %}
                        <div class="latest-stories">
                             <div class="stories-image">
                                  <a href="{% url "news_detail_page" haber.slug %}"><img src="{{ haber.resim.url }}" class="img-responsive" alt="{{ haber.baslik }}" loading="lazy"></a>
                             </div>
                             <div class="stories-info">
                                  <a href="{% url "news_detail_page" haber.slug %}"><h5>{{ haber.baslik }}</h5></a>
                                  <span>{{ haber.tarih }}</span>
                             </div>
                        </div>
                        {% endfor %}
                   </div>
              </div>

              <div class="col-md-4 col-sm-4"> 
                   <div class="footer-thumb">
                        <div class="opening-hours">
                             <h4 class="wow fadeInUp" data-wow-delay="0.4s">Çalışma Saatleri</h4>
                             <p>Pazartesi - Cuma <span>  09:00 - 12:00 / 13:00 - 17:00 </span></p>
                             <p>Cumartesi - Pazar <span>Kapalı</span></p>
                        </div> 

                         <ul class="social-icon">
                         <li><a href="#" class="fa fa-facebook-square" aria-label="Facebook"></a></li>
                         <li><a href="#" class="fa fa-twitter" aria-label="Twitter"></a></li>
                         <li><a href="#" class="fa fa-instagram" aria-label="Instagram"></a></li>
                         </ul>
                   </div>
              </div>

              <div class="col-md-12 col-sm-12 border-top">
               <div class="row">
                   <div class="col-md-4 col-sm-6">
                        <div class="copyright-text"> 
                            <p>Copyright &copy; {% now "Y" %} Health Center 
                                | Design: <a rel="nofollow" href="https://github.com/mhilmicicek07" target="_blank">Mehmet Hilmi ÇİÇEK</a>
                            </p>
                        </div>
                   </div>
                   <div class="col-md-6 col-sm-6">
                        <div class="footer-link"> 
                            <a href="javascript:void(0)">Laboratuar Testleri</a>
                            <a href="javascript:void(0)">Bölümler</a>
                            <a href="javascript:void(0)">Sağlık Sigortası</a>
                            <a href="javascript:void(0)">Kariyer</a>
                        </div>
                   </div>
                    <div class="col-md-2 col-sm-2 text-center">
                        <div class="angle-up-btn"> 
                            <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s" title="Yukarı çık"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>    
              </div>
              
         </div>
    </div>
</footer>