<header>
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-5">
                   <p>Profesyonel Sağlık Merkezi'ne Hoşgeldiniz!</p>
              </div>
                   
              <div class="col-md-8 col-sm-7 text-align-right">
                   <span class="phone-icon"><i class="fa fa-phone"></i> +90 777 777 77 77</span>
                   <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 09:00 - 12:00 / 13:00 - 17:00 (Pzt-Cum)</span>
                   <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="#">info@healthcenter.com</a></span>
              </div>

         </div>
    </div>
</header>