<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

                   <div class="owl-carousel owl-theme">
                        <div class="item item-first">
                             <div class="caption">
                                  <div class="col-md-offset-1 col-md-10">
                                       <h3>Yaşamınızı Güzelleştirelim!</h3>
                                       <h1>Sağlıklı Yaşam</h1>
                                       <a href="#team" class="section-btn btn btn-default smoothScroll">Ekibimizle Tanışın</a>
                                  </div>
                             </div>
                        </div>

                        <div class="item item-second">
                             <div class="caption">
                                  <div class="col-md-offset-1 col-md-10">
                                       <h3>Danışmanlık Verelim!</h3>
                                       <h1>Yaşam Tarzı</h1>
                                       <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">Bizi Tanıyın</a>
                                  </div>
                             </div>
                        </div>

                        <div class="item item-third">
                             <div class="caption">
                                  <div class="col-md-offset-1 col-md-10">
                                       <h3>Güncel Kalın!</h3>
                                       <h1>Sağlığınız İçin</h1>
                                       <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Haberlere Göz Atın</a>
                                  </div>
                             </div>
                        </div>
                   </div>

         </div>
    </div>
</section>