{% load static %}
<section id="news-detail" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <!-- Haber Detayı -->
      <div class="col-md-8 col-sm-7">
        <div class="news-detail-thumb">
          <div class="news-image">
            <img src="{{ news_detail.resim.url }}" class="img-responsive" alt="">
          </div>
          <h3>{{ news_detail.baslik }}</h3>
          <p>{{ news_detail.icerik }}</p>
          <blockquote>{{ news_detail.icerik }}</blockquote>
          <p>{{ news_detail.icerik }}</p>

          <ul>
            <li>Phasellus posuere nisi eleifend, vestibulum ipsum eleifend</li>
            <li>Nulla sapien neque, posuere vitae porta eu</li>
            <li>Fusce quis enim vel libero pulvinar gravida sed eu justo</li>
          </ul>

          <p>{{ news_detail.icerik }}</p>
        </div>
      </div>

      <!-- Sağ Sidebar -->
      <div class="col-md-4 col-sm-5">
        <div class="news-sidebar">
          <div class="news-author">
            <h4>Yazar hakkında</h4>
            <p>
              {{ news_detail.yazar.ad }}, {{ news_detail.tarih }} <br>
              {{ news_detail.yazar.pozisyon }} <br><br>
              {{ news_detail.yazar.bilgi }}
            </p>
          </div>
          <br>

          <div class="news-categories">
            <h4>Kategoriler</h4>
            <ul>
              {% for kategori in category %}
                <li><a href="#"><i class="fa fa-angle-right"></i>{{ kategori }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <br><br>

          <div class="news-social-share">
            <h4>Bu Yazıyı Paylaşın</h4>
            <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook</a>
            <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i> Twitter</a>
            <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i> Google+</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>